<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">CannyByte</a>

    <div class="collapse navbar-collapse show">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% for link in links %}
        <li class="nav-item">
          <a
            class="nav-link{% if link.url_name == current_url_name %} active{% endif %}"
            {% if link.url_name == current_url_name %}aria-current="page"{% endif %}
            href="{% url link.url_name %}"
          >{{ link.label }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
